.btc{
    background-image: url("img/home-page-authorized/bitcoin.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.eth{
    background-image: url("img/home-page-authorized/eth.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.trx{
    background-image: url("img/home-page-authorized/TRX.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.iost{
    background-image: url("img/home-page-authorized/IOST.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.usft{
    background-image: url("img/home-page-authorized/USFT.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.doge{
    background-image: url("img/home-page-authorized/DOGE.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.utopia{
    background-image: url("img/home-page-authorized/utopia.svg");
    width: 16px;
    height: 16px;
    margin-right: 7px;
    align-self: center;
}
.currency-twenty-size{
    width: 20px;
    height: 20px;
    background-size: cover;
}